div.hero-unit
  h1 Download and copy me!


div.content 
    
    br
    br

    div.row
      div.span6
        h3 PHP
        ul
          li 
            a(href="/example/php/drupal") Drupal
          li 
            a(href="/example/php/wordpress") Wordpress

      div.span6
        h3 Perl
        ul
          li
            a(href="/example/perl/bugzilla") Bugzilla

    div.row
      div.span6
        h3 Node.js
        ul
          li
            a(href="/example/nodejs/node-env") Node-env
      div.span6
        h3 Stackgen
        ul
          li
            a(href="/example/stackgen/stackgen") Stackgen


script
  $().ready(function() {
    prettyPrint()
  });

