//div.hero-unit
div.content 
    
    br
    br
    br
    br

    div.row
      div.span3
        h3 PHP
        ul
          li 
            a(href="/example/php/drupal") Drupal
          li 
            a(href="/example/php/wordpress") Wordpress

      div.span3
        h3 Perl
        ul
          li
            a(href="/example/perl/bugzilla") Bugzilla

      div.span3
        h3 Node.js
        ul
          li
            a(href="/example/nodejs/node-env") Node-env
          li
            a(href="/example/stackgen/stackgen") Stackgen


script
  $().ready(function() {
    prettyPrint()
  });

