append head

//div.hero-unit 
div(style="height:100px")

form(id="stackgen", method="POST", action="/generate")
                div.row
                  legend.span5 App basics
                  div(class="span5")
                    label(class="control-label") App Name
                    input( id="appName", name="appName", type="text", class="span3", placeholder="my_sample_app")
                  div(class="span5")
                    label(class="control-label") App URL [optional] 
                    input( id="appName", name="appURL", type="text", class="span3", placeholder="mysampleapp.com")

                div.row 
                  legend.span5 Language/Framework
                  div.span5
                    label.control-label Language

                    select.span3(id="appFramework", name="appFramework")
                        option(value="", disabled) Choose a framework...
                        option(value="perl") Perl
                        option(value="python") Python
                        option(value="buildpack") Buildpack
                        option(value="generic") Generic Framework
                        option(value="java_web") Java
                        option(value="node") Node.js
                        option(value="php") PHP
                        option(value="ruby") Ruby

                  div.span5
                    label(class="control-label") Runtime [optional]

                    select.span3(id="appRuntime", name="appRuntime")
                        option(value="none") None
                        option(value="perl") ActivePerl 5.14
                        option(value="python27")  ActivePython 2.7
                        option(value="python32")  ActivePython 3.2
                        option(value="buildpack") Buildpack
                        option(value="generic") Generic Framework
                        option(value="java") Java 6
                        option(value="node") Node.js v0.6
                        option(value="php") PHP 5
                        option(value="ruby18") Ruby 1.8
                        option(value="ruby19")  Ruby 1.9

                div.row 
                  legend.span5 Memory/Instances
                  div.span5
                    label(class="control-label") Memory (in MB)
                    input( class="knob", name="appMem", style="height:50px;", data-skin="tron", data-width="200", data-min="32", data-max="8000", data-thickness=".2", data-bgColor="#FFFFFF", data-displayInput="true", data-ticks="8", data-cursor=true, value="128")

                  div.span5
                    label.control-label Number of Instances
                    input( class="knob", name="numInstances", style="height:50px;", data-skin="tron", data-width="200", data-min="1", data-max="12", data-thickness=".4", data-bgColor="#FFFFFF", data-displayInput="true", data-cursor=true, data-ticks="100", value="1")
              
                div.row 
                  div.span5
                    legend Services
                  div.span3
                        label Service Type
                        select(name="serviceChoices", id="serviceChoices")
                            option mongodb
                            option mysql
                            option redis
                            option postgresql
                            option filesystem
                            option rabbit
                  div.span3
                        label Service Name
                        input(type="text", name="serviceName", id="serviceName") 
                  div.span2
                        br
                        a.btn(id="addService")
                          i.icon-plus
                          |  Add service
                div.row 
                  div.span5
                        p(id="servicesCont")

                div.row 
                  legend.span12 Hooks
                  label.span5 Pre-staging hooks
                  div.span5
                      textarea(class="preStagingHook", name="preStagingHooks[]", rows="5", style="width:100%") 

                div.row
                  label.span5 Post-staging hooks
                  div.span5
                      textarea(class="postStagingHook", name="postStagingHooks[]", rows="5", style="width:100%") 

                div.row
                  label.span5 Pre-running hooks
                  div.span5
                      textarea(class="preRunningHook", name="preRunningHooks[]", rows="5", style="width:100%") 

                div.row
                    legend.span5 Advanced
                    div.span5
                      label Ignores
                      input(type="text", name="ignores", placeholder=".git")
                    div.span5
                      label Environment Variables
                      input(type="text", name="envs", placeholder="var1=foo,var2=bar")

                div.row
                    button.span3.btn.btn-large.btn-success(type="submit") Generate
