div.hero-unit 
    h1 StackGen v0.1
    p ( for the awesome stackato platform )

div.content 
    div.page-header 

    div.row 

        div.span6
            h2 Get started
            br
            a(href="/generate", class="btn", style="width:300px; height:40px; font-size: 20px; line-height:40px") Generate 

            br
            br
            br

        div.span5 
           h2 Limitations 

            p Max Instance/Memory limits on Dial
            p Not all stackato.yml settings are included
            p.label.notice Coming soon

    div.row
        div.span11
            h2 Recently generated 
            h4 Drupal:
            br
            pre(class="prettyprint lang-yaml")
              include ../public/examples/php/drupal.yaml
 
script                                                                                                                                                                                     
  $().ready(function() {                                                        
    prettyPrint()                                                               
  });   
